[package]
name = "agentcompany_desktop"
version = "0.1.0"
edition = "2021"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
serde = { version = "1", features = ["derive"] }
tauri = { version = "2", features = [] }

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
strip = true
